<a href="https://colab.research.google.com/github/Kadaroli17/PythonCode/blob/main/AllPrograms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1=int(input("Enter the value of num1:"));
num2=int(input("Enter the value of num2:"));
sum = num1 + num2;
print('The sum of {0} and {1} is {2}'.format(num1,num2,sum,));

Enter the value of num1:20
Enter the value of num2:30
The sum of 20 and 30 is 50

In [ ]:
num = float(input("Enter the value:"));
sqrt = num ** 0.5;
print('The square root of the giver number is', sqrt);

Enter the value:20.9
The square root of the giver number is 4.571651780264984

In [ ]:
x= 5;
y = 10;
temp= x;
x = y;
y = temp;
print('The value of x after swapping',x);
print('The value of y after swapping',y);

The value of x after swapping 10
The value of y after swapping 5

In [ ]:
import cmath
num = 1+2j
num_sqrt = cmath.sqrt(num)
print('The square root of {0} is {1:0.3f}+{2:0.3f}j'.format(num,num_sqrt.real,num_sqrt.imag))

The square root of (1+2j) is 1.272+0.786j

In [ ]:
a,b,c = 11,12,13
s= (a+b+c)/2
area= (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

The area of the triangle is 61.48

In [ ]:
a = b = c ='same'
print(a)
print(b)
print(c)

same
same
same

In [ ]:
x=(1==True)
y=(1==False)
a=True+4
b=False+10
print("x is",x)
print("y is",y)
print("a:",a)
print("b:",b)

x is True
y is False
a: 5
b: 10

In [ ]:
website="kadar.com"
print(website)
website="kadar/portfolio.github.io"
print(website)

kadar.com
kadar/portfolio.github.io

In [ ]:
def maxOfTwo(x, y):
  if x > y:
    return x
  return y
def maxOfThree(x,y,z):
  return maxOfTwo(x, maxOfTwo(y,z))
print(maxOfThree(3,5,7))

7

In [ ]:
def sum(numbers):
  total = 0
  for x in numbers:
    total += x 
  return total
print(sum((1,2,3,4,5,6)))

21

In [ ]:


def sum(numbers):
  total = 1
  for x in numbers:
    total *= x 
  return total
print(sum((2,3,4,5,6)))

720

In [ ]:
def strRev(str):

  revstr=''
  index = len(str)
  while index > 0:
    revstr += str[index - 1]
    index = index -1
  return revstr
print(strRev('kadar'));

radak

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Enter a number to compute the factiorial : "))
print(factorial(n))

Enter a number to compute the factiorial : 20
2432902008176640000

In [17]:
def test_range(n):
    if n in range(11,20):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(5)

The number is outside the given range.

In [18]:
def string_test(s):
    d={"upperCase":0, "lowerCase":0}
    for c in s:
        if c.isupper():
           d["upperCase"]+=1
        elif c.islower():
           d["lowerCase"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["upperCase"])
    print ("No. of Lower case Characters : ", d["lowerCase"])

string_test('We Are Software Developers')

Original String :  We Are Software Developers
No. of Upper case characters :  4
No. of Lower case Characters :  19

In [19]:
def uniqueList(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(uniqueList([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [20]:
def testPrime(n):
    if (n==1):
        return False;
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False;
        return True;             
print(testPrime(23));

True

In [21]:
def isEvenNum(l):
    enum = []
    for n in l:
        if n % 2 == 0:
            enum.append(n)
    return enum
print(isEvenNum([1, 2, 3, 4, 5, 6, 7, 8, 9]))

[2, 4, 6, 8]

In [22]:
def perfectNumber(n):
    sum = 0
    for x in range(1, n):
        if n % x == 0:
            sum += x
    return sum == n
print(perfectNumber(6))

True

In [23]:
def isPalindrome(string):
	left_pos = 0
	right_pos = len(string) - 1
	
	while right_pos >= left_pos:
		if not string[left_pos] == string[right_pos]:
			return False
		left_pos += 1
		right_pos -= 1
	return True
print(isPalindrome('aza'))

True

In [24]:
def pascalTriangle(n):
   trow = [1]
   y = [0]
   for x in range(max(n,0)):
      print(trow)
      trow=[l+r for l,r in zip(trow+y, y+trow)]
   return n>=1
pascalTriangle(6)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

True

In [25]:
import string, sys
def ispangram(str1, alphabet=string.ascii_lowercase):
    alphaset = set(alphabet)
    return alphaset <= set(str1.lower())
 
print ( ispangram('The quick brown fox jumps over the lazy dog'));

True

In [26]:
items=[n for n in input().split('-')]
items.sort()
print('-'.join(items))

2
2

In [27]:
def printValues():
	l = list()
	for i in range(1,21):
		l.append(i**2)
	print(l)
		
printValues()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [29]:

def make_bold(fn):
    def wrapped():
        return "<b>" + fn() + "</b>"
    return wrapped

def make_italic(fn):
    def wrapped():
        return "<i>" + fn() + "</i>"
    return wrapped

def make_underline(fn):
    def wrapped():
        return "<u>" + fn() + "</u>"
    return wrapped
@make_bold
@make_italic
@make_underline
def hello():
    return "hello world"
print(hello())

<b><i><u>hello world</u></i></b>

In [30]:
myCode = 'print("hello world")'
code = """
def mutiply(x,y):
    return x*y

print('Multiply of 2 and 3 is: ',mutiply(2,3))
"""
exec(myCode)
exec(code)

hello world
Multiply of 2 and 3 is:  6

In [31]:
def test(a):
        def add(b):
                nonlocal a
                a += 1
                return a+b
        return add
func= test(4)
print(func(4))

9

In [32]:
def abc():
    x = 1
    y = 2
    str1= "w3resource"
    print("Python Exercises")

print(abc.__code__.co_nlocals)

3

In [33]:
from time import sleep
import math
def delay(fn, ms, *args):
  sleep(ms / 1000)
  return fn(*args)
print("Square root after specific miliseconds:") 
print(delay(lambda x: math.sqrt(x), 100, 16))
print(delay(lambda x: math.sqrt(x), 1000, 100))
print(delay(lambda x: math.sqrt(x), 2000, 25100))

Square root after specific miliseconds:
4.0
10.0
158.42979517754858

In [34]:

print("Choice 1: Add, 2: Subraction, 3: Division, 4: Multiplication, 5: Quit")
n1 = input("Enter the choice of Operation :")
n = int(n1)
if (n == 1):
  print("You have chosen addition Option....")
  a1 = input("Enter the value for A :")
  b1 = input("Enter the value for B :")
  a = int(a1)
  b = int(b1)
  c = a + b
  print("The Result of ",a," + ",b," is ",c)
elif (n == 2):
  print("You have chosen subraction Option....")
  a1 = input("Enter the value for A :")
  b1 = input("Enter the value for B :")
  a = int(a1)
  b = int(b1)
  c = a - b
  print("The Result of ",a," - ",b," is ",c)
elif (n == 3):
  print("You have chosen division Option....")
  a1 = input("Enter the value for A :")
  b1 = input("Enter the value for B :")
  a = int(a1)
  b = int(b1)
  c = a * b
  print("The Result of ",a," / ",b," is ",c)
elif (n == 4):
  print("You have chosen multiplication Option....")
  a1 = input("Enter the value for A :")
  b1 = input("Enter the value for B :")
  a = int(a1)
  b = int(b1)
  c = a / b
  print("The Result of ",a," * ",b," is ",c)
elif (n == 5):
  print("Exited")
  exit()
else:
  print("You have entered a wrong number")

Choice 1: Add, 2: Subraction, 3: Division, 4: Multiplication, 5: Quit
Enter the choice of Operation :1
You have chosen addition Option....
Enter the value for A :2
Enter the value for B :3
The Result of  2  +  3  is  5

In [35]:
#boolean expression
a=True
b=False
print('a= ',a,'b= ',b)
a=False;
print('a= ',a,'b= ',b)

a=  True b=  False
a=  False b=  False

In [38]:
# Get two integers from the user
dividend, divisor = eval(input('Please enter two to divide: '))
# If possible, divide them and print the result
if divisor != 0:
  print(dividend,'/',divisor,' = ', dividend/divisor)
else:
  print('Divsion by is not allowed.')

Please enter two to divide: 11,3
11 / 3  =  3.6666666666666665

In [39]:
#nested loop
print("     1  2  3  4  5  6  7  8  9  10")
print("    <---------------------------->")
for row in range(1,11):
  if row<10:
    print(" ",end=" ")
    for column in range(1,11):
      product=row*column;
      if product<100:
        print(end=" ")
      if product<10:
        print(end=" ")
      print(product,end=" ")
    print()

     1  2  3  4  5  6  7  8  9  10
    <---------------------------->
    1   2   3   4   5   6   7   8   9  10
    2   4   6   8  10  12  14  16  18  20
    3   6   9  12  15  18  21  24  27  30
    4   8  12  16  20  24  28  32  36  40
    5  10  15  20  25  30  35  40  45  50
    6  12  18  24  30  36  42  48  54  60
    7  14  21  28  35  42  49  56  63  70
    8  16  24  32  40  48  56  64  72  80
    9  18  27  36  45  54  63  72  81  90

In [46]:
#while 
entry=0
sum=0
print("Enter numbers to sum, negative number ends list: ")
while entry >=0:
  entry =eval(input())
  if entry >=0:
    sum+=entry
print("sum=",sum)

Enter numbers to sum, negative number ends list:
9
8
-6
sum= 17